.info-table {
    h1,
    h5,
    tbody {
        font-weight: 900;
        color: white;
    }
    .table {
        --bs-table-bg: transparent;
        --bs-table-color: white; // Esta variable de Bootstrap controla el texto
        color: white;
    }
    tr {
        &:first-child {
            border-top: hidden;
        }
    }

    td {
        border-bottom: 1px solid rgba(239, 239, 239, 0.5);

        &:nth-child(even) {
            text-align: end;
        }
    }
}
