.header {
    &__name {
        font-weight: 700;
        font-size: 50px;
        color: white;
    }

    &__description {
        font-size: 40px;
        color: white;
    }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
    .header__description {
        font-size: 25px;
    }
}
