.article {
    color: var(--main-dark);

    &__image {
        width: 100%;
    }

    &__header {
        width: 100%;

        bottom: 0px;
        font-weight: 700;

        h5 {
            width: max-content;
            color: var(--main-light);
            font-size: 1.7rem;
        }
        h2 {
            font-size: 1.5rem;
            color: var(--main-light);
        }

        p {
            font-size: 1.4rem;
            color: var(--main-light);
            line-height: 1.6;
            font-weight: 400;
            background-color: rgb(33 33 33 / 19%);
            @media (max-width: 900px) {
                font-size: 0.9rem;
                letter-spacing: 2px;
            }
        }
    }
}
